body {
    padding-top: 70px;
    background-color: #dfdfdf;
}

.navbar-brand {
    padding: 1px 5px 1px 5px;
}

H1 {
    font-size: 16pt;
}

H2 {
    font-size: 12pt;
}

UL#timeline {
    list-style-type: none;
    padding: 0 ;
}

DIV.article, DIV.discussion {
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px ;
}

DIV.discussion {
    background-color: #f5f5f5;
}

P.articleTitle {
    font-weight: bold ;
}

DIV.articleFooter {
    border-top: dotted thin;
}

DIV.articleFooter TD {
    font-size: smaller;
}


A {
    color: #000000 ;
}